[{:ingredient/id :fine-whole-wheat
  :ingredient/type :flour
  :ingredient/flour-weight 1.0
  :ingredient/name "Fine whole wheat flour"}
 {:ingredient/id :wheat-00
  :ingredient/type :flour
  :ingredient/flour-weight 1.0
  :ingredient/name "00 Wheat flour"}
 {:ingredient/id :coarse-whole-wheat
  :ingredient/type :flour
  :ingredient/flour-weight 1.0
  :ingredient/name "Coarse whole wheat flour"}
 {:ingredient/id :white-wheat
  :ingredient/type :flour
  :ingredient/flour-weight 1.0
  :ingredient/name "White wheat flour"}
 {:ingredient/id :white-rye
  :ingredient/type :flour
  :ingredient/flour-weight 1.0
  :ingredient/name "White rye flour"}
 {:ingredient/id :coarse-whole-rye
  :ingredient/type :flour
  :ingredient/flour-weight 1.0
  :ingredient/name "Coarse whole rye flour"}
 {:ingredient/id :water
  :ingredient/type :liquid
  :ingredient/liquid-weight 1.0
  :ingredient/name "Water"}
 {:ingredient/id :milk
  :ingredient/type :liquid
  :ingredient/liquid-weight 1.0
  :ingredient/name "Milk"}
 {:ingredient/id :milk-powder
  :ingredient/type :flour
  :ingredient/flour-weight 1.0
  :ingredient/name "Milk powder"}
 {:ingredient/id :salt
  :ingredient/name "Salt"}
 {:ingredient/id :yeast
  :ingredient/type :leven
  :ingredient/name "Yeast"}
 {:ingredient/id :sourdough-starter
  :ingredient/type :leven
  :ingredient/flour-weight 0.5
  :ingredient/liquid-weight 0.5
  :ingredient/name "Sourdough starter"}
 {:ingredient/id :levain
  :ingredient/type :leven
  :ingredient/flour-weight 0.5
  :ingredient/liquid-weight 0.5
  :ingredient/name "Levain"}
 {:ingredient/id :sugar
  :ingredient/type :sugar
  :ingredient/name "Sugar"}
 {:ingredient/id :pearl-sugar
  :ingredient/type :pearl-sugar
  :ingredient/name "Pearl sugar"}
 {:ingredient/id :neutral-oil
  :ingredient/type :fat
  :ingredient/name "Neutral oil"}
 {:ingredient/id :butter
  :ingredient/type :fat
  :ingredient/name "Butter"}
 {:ingredient/id :honey
  :ingredient/type :sugar
  :ingredient/name "Honey"}
 {:ingredient/id :malt-syrup
  :ingredient/type :sugar
  :ingredient/name "Malt syrup"}
 {:ingredient/id :flaked-oats
  :ingredient/type :grain
  :ingredient/name "Flaked oats"}
 {:ingredient/id :flaked-rye
  :ingredient/type :grain
  :ingredient/name "Flaked rye"}
 {:ingredient/id :flaked-wheat
  :ingredient/type :grain
  :ingredient/name "Flaked wheat"}
 {:ingredient/id :whole-wheat
  :ingredient/type :grain
  :ingredient/name "Whole wheat"}
 {:ingredient/id :sunflower-seeds
  :ingredient/type :seed
  :ingredient/name "Sunflower seeds"}
 {:ingredient/id :pumpkin-seeds
  :ingredient/type :seed
  :ingredient/name "Pumpkin seeds"}
 {:ingredient/id :flax
  :ingredient/type :seed
  :ingredient/name "Flax seeds"}
 {:ingredient/id :poppy
  :ingredient/type :seed
  :ingredient/name "Poppy seeds"}
 {:ingredient/id :sesame-seeds
  :ingredient/type :seed
  :ingredient/name "Sesame seeds"}
 {:ingredient/id :cardamom
  :ingredient/type :spice
  :ingredient/name "Cardamom"}
 {:ingredient/id :cinnamon
  :ingredient/type :spice
  :ingredient/name "Cinnamon"}
 {:ingredient/id :egg
  :ingredient/type :fat
  :ingredient/liquid-weight 0.8
  :ingredient/name "Egg"}]
