{:tag/clojure "Clojure"
 :tag/tools.deps "tools.deps"
 :tag/go "Go"
 :tag/spotify "Spotify"
 :tag/datascript "Datascript"
 :tag/spec "clojure.spec"
 :tag/elisp "Elisp"
 :tag/emacs "Emacs"
 :tag/datomic "Datomic"
 :tag/aws-apigw "AWS Api Gateway"
 :tag/cloudformation "Cloudformation"
 :tag/aws "AWS"
 :tag/efs "EFS"
 :tag/css "CSS"
 :tag/git "Git"
 :tag/haproxy "HAProxy"
 :tag/letsencrypt "Letsencrypt"
 :tag/https "TLS/HTTPS"
 :tag/devcards "Devcards"
 :tag/figwheel "Figwheel"
 :tag/clojurescript "ClojureScript"}
