{:tag/aws "AWS"
 :tag/aws-apigw "AWS Api Gateway"
 :tag/clojurescript "ClojureScript"
 :tag/cloudformation "Cloudformation"
 :tag/continuous-delivery "Continuous Delivery"
 :tag/css "CSS"
 :tag/datascript "Datascript"
 :tag/datomic "Datomic"
 :tag/devcards "Devcards"
 :tag/efs "EFS"
 :tag/elisp "Elisp"
 :tag/emacs "Emacs"
 :tag/figwheel "Figwheel"
 :tag/functional-programming "Functional programming"
 :tag/frontend "Frontend"
 :tag/git "Git"
 :tag/go "Go"
 :tag/haproxy "HAProxy"
 :tag/https "TLS/HTTPS"
 :tag/javascript "JavaScript"
 :tag/kubernetes "Kubernetes"
 :tag/letsencrypt "Letsencrypt"
 :tag/programming "Programming"
 :tag/spec "clojure.spec"
 :tag/spotify "Spotify"
 :tag/tools.deps "tools.deps"
 :tag/clojure "Clojure"}
