@import url(../pygments-css/autumn.css);

html,
body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, "Calibri Light", Calibri, sans-serif;
  font-size: 18px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

.mod, h1, h2, h3, h4, h5, h6, p, ul, ol, hr, pre, center, dl {
  margin: 20px;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.1rem;
  font-weight: 500;
}

ul,
ol {
  padding: 0;
}

li {
  margin-left: 16px;
}

.main-content {
  max-width: 1000px;
  margin: 0 auto;
}

pre,
code {
  background: #f6f6f6;
}

pre {
  padding: 20px;
}

.related {
  display: flex;
  align-items: center;
}

.related .item {
  margin-right: 10px;
}

.man, .mhn, .mln { margin-left: 0 !important; }
.man, .mhn, .mrn { margin-right: 0 !important; }
.man, .mvn, .mtn { margin-top: 0 !important; }
.man, .mvn, .mbn { margin-bottom: 0 !important; }

.mas, .mhs, .mls { margin-left: 10px !important; }
.mas, .mhs, .mrs { margin-right: 10px !important; }
.mas, .mvs, .mts { margin-top: 10px !important; }
.mas, .mvs, .mbs { margin-bottom: 10px !important; }

.mam, .mhm, .mlm { margin-left: 20px !important; }
.mam, .mhm, .mrm { margin-right: 20px !important; }
.mam, .mvm, .mtm { margin-top: 20px !important; }
.mam, .mvm, .mbm { margin-bottom: 20px !important; }

.mal, .mhl, .mll { margin-left: 40px !important; }
.mal, .mhl, .mrl { margin-right: 40px !important; }
.mal, .mvl, .mtl { margin-top: 40px !important; }
.mal, .mvl, .mbl { margin-bottom: 40px !important; }

.pan, .phn, .pln { padding-left: 0 !important; }
.pan, .phn, .prn { padding-right: 0 !important; }
.pan, .pvn, .ptn { padding-top: 0 !important; }
.pan, .pvn, .pbn { padding-bottom: 0 !important; }

.pas, .phs, .pls { padding-left: 10px !important; }
.pas, .phs, .prs { padding-right: 10px !important; }
.pas, .pvs, .pts { padding-top: 10px !important; }
.pas, .pvs, .pbs { padding-bottom: 10px !important; }

.paxs, .phxs, .plxs { padding-left: 5px !important; }
.paxs, .phxs, .prxs { padding-right: 5px !important; }
.paxs, .pvxs, .ptxs { padding-top: 5px !important; }
.paxs, .pvxs, .pbxs { padding-bottom: 5px !important; }

.pam, .phm, .plm { padding-left: 20px !important; }
.pam, .phm, .prm { padding-right: 20px !important; }
.pam, .pvm, .ptm { padding-top: 20px !important; }
.pam, .pvm, .pbm { padding-bottom: 20px !important; }

.pal, .phl, .pll { padding-left: 40px !important; }
.pal, .phl, .prl { padding-right: 40px !important; }
.pal, .pvl, .ptl { padding-top: 40px !important; }
.pal, .pvl, .pbl { padding-bottom: 40px !important; }

.vs-s .mod,
.vs-s h1,
.vs-s h2,
.vs-s h3,
.vs-s h4,
.vs-s h5,
.vs-s h6,
.vs-s p,
.vs-s ul,
.vs-s ol,
.vs-s hr,
.vs-s pre {
  margin-top: 10px;
  margin-bottom: 10px;
}

.vs-l .mod,
.vs-l h1,
.vs-l h2,
.vs-l h3,
.vs-l h4,
.vs-l h5,
.vs-l h6,
.vs-l p,
.vs-l ul,
.vs-l ol,
.vs-l hr,
.vs-l pre {
  margin-top: 30px;
  margin-bottom: 30px;
}

hr {
  border: none;
  border-top: 1px solid #ebe8e3;
  clear: both;
}

.banner-link,
.banner-link:link,
.banner-link:visited {
  color: #000;
  font-weight: bold;
  text-decoration: none
}

.banner-link:hover {
  text-decoration: underline
}
