body {
    background: #fff;
    font-family: Baskerville, Georgia, Times, serif;
    font-size: 125%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a img {
    border: none;
}

h1,
h2,
h3 {
    font-family: Baskerville, Georgia, Times, serif;
    font-size: 3em;
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 .2em;
}

h2 {
    font-size: 2em;
    margin-top: .5em;
}

h3 {
    font-size: 1.5em;
    margin-top: .5em;
}

h4 {
    font-size: 1em;
    margin: 0 0 .5em;
}

p,
pre,
ul,
ol {
    margin: 0 0 1.5em;
}

p + ul,
p + pre {
    margin-top: -1em;
}

ul ul {
    margin-bottom: 0;
}

p + p {
    margin-top: -.5em;
}

p code {
    font-size: 1.1em;
}

h1 + p {
    color: #000;
    font-size: 1.1em;
}

a:hover,
a:active {
    text-decoration: none;
}

kbd {
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    padding: 1px 2px;
    white-space: nowrap;
}

.hidden {
    display: none;
}

/* Article */
.article a:link,
.article a:visited {
    color: #000;
}

.article a:hover,
.article a:active {
    color: #00f;
}

.article p,
.article li,
.article dd {
    color: #222;
}

.article code,
.article kbd {
    color: #000;
}

/* Syntax highlighting */
.comment { color: #c42222; }
.multi-comment { font-weight: bold; }
.single-comment {}
.str, .string, pre.sh_sourceCode span.sh_string { color: #eb4e08; }
.reg-exp { color: #eb4e08; }
.number {}
.hex {}
.octal {}
.decimal {}
.keyword, pre.sh_sourceCode span.sh_keyword { color: #050069; }
.built-in { color: #228b22; }
.punctuator { font-weight: bold; }
.lit,
.kwd,
.property,
pre.sh_sourceCode span.sh_function,
pre.sh_sourceCode span.sh_type { color: #0700ff; }

pre code {
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    display: block;
    margin: 0 -12px;
    padding: 12px;
}

dt code {
    background: #f8f8f8;
    border: 1px solid #e8e8e8;
    padding: 2px;
}

.article {
    margin: 20px auto;
    max-width: 38em;
}

/* Banner */
.banner {
    background: #3c3b37;
    /*background: -moz-linear-gradient(top, #f8f8f8, #e8e8e8);*/
    background: -moz-linear-gradient(top, #5c5b56, #3c3b37);
    /*background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e8e8e8));*/
    background: -webkit-gradient(linear, left top, left bottom, from(#5c5b56), to(#3c3b37));
    /*border-bottom: 1px solid #acb4c4;*/
    border-bottom: 1px solid #32322d;
    font-family: Sans, 'Bitstream Vera Sans', Helvetica, Calibri, Arial, sans-serif;
    font-size: 0.9em;
    padding: 4px 0;
}

.footer {
    background: #3c3b37;
    /*background: -moz-linear-gradient(top, #e8e8e8, #f8f8f8);*/
    background: -moz-linear-gradient(top, #3c3b37, #000);
    /*background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f8f8f8));*/
    background: -webkit-gradient(linear, left top, left bottom, from(#3c3b37), to(#5c5b56));
    /*border-top: 1px solid #acb4c4;*/
    border-top: 1px solid #32322d;
}

.banner p {
    display: block;
    font-size: 0.8em;
    margin: 0 auto;
    max-width: 52em;
}

.banner a,
.banner p span {
    color: #dfdbd2;
    text-decoration: none;
}

.banner a strong {
    color: #fff;
    font-weight: strong;
    padding-right: 6px;
}

.banner a strong:before {
    color: #dfdbd2;
    content: " ← ";
    width: 2.5em;
}

.banner a:hover,
.banner a:active {
    text-decoration: underline;
}

.banner .rss {
    background: url(../images/icons/rss-16x16.png) 100% 50% no-repeat;
    color: #fff;
    float: right;
    padding-right: 24px;
}

a.rss {
    background: url(../images/icons/rss-16x16.png) 0 50% no-repeat;
    color: #fff;
    padding-left: 24px;
}

/* Meta */
.meta {
    font-size: 0.9em;
    margin: 0 auto;
}

.social {
    overflow: hidden;
}

.social p,
.faith-plus-one {
    float: left;
}

.meta .twitter {
    margin: -1em 0 1.5em;
}

.social p + p {
    margin-top: 0;
}

.faith-plus-one,
p iframe {
    margin-top: 0.25em;
}

.meta h2 {
    font-size: 1.5em;
    margin: 0 0 .5em;
}

/* Footer */
.footer img {
    display: block;
    float: left;
    margin: 4px 8px 0 0;
}

.footer a {
    color: #fff;
}

/* Comments */
.comments ol {
    margin: 20px 0 30px;
    padding: 0;
}

.comments li {
    list-style: none;
    margin: 0 0 1em;
    min-height: 40px;
    overflow: hidden;
    padding: 0 0 0 60px;
    position: relative;
}

.comments li + li {
    border-top: 1px solid #f0f0f0;
    padding-top: 1em;
}

.comments li h3 {
    font-size: 1em;
}

.comments .vcard {
    color: #666;
    font-size: 0.8em;
}

.comments .vcard h3,
.comments .vcard p {
    color: #666;
    display: inline;
}

.comments .vcard p {
    margin: 0 6px;
}

.comments img {
    left: 0;
    position: absolute;
}

.comments .entry-content p {
    margin: 0 0 0.5em;
}

fieldset {
    border: none;
    outline: none;
    padding: 0;
}

.field {
    margin: 0 0 0.25em;
    overflow: visible;
}

.field textarea {
    height: 15em;
    width: 58em;
}

.field label {
    float: left;
    width: 5em;
}

/* Mobile devices */
@media all and (max-width: 800px), only screen and (max-device-width: 480px), handheld {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
        font-weight: bold;
    }
}